body {
    background: #4b4a55;  
    background: -webkit-linear-gradient(to right, #525163, #172e29);  
    background: linear-gradient(to right, #191654, #43C6AC); 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: center;
    height: 100%;
    overflow-y: auto;  
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow-y: auto;  
}

#container {
    color: #d7dfe4;
    padding: 20px;
}

#footer-container {
    position: absolute;
    bottom: 1%;
    right: 1%;  
}

.digit {
    font-size: 150px;
    font-weight: bold;
}

.txt {
    font-size: 40px;
    font-weight: bold;
}

.social-txt {
    font-size: 20px;
    color: white;
}

#btn-container {
    text-align: center;
    margin-top: 40px;
}

.btn {
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 10px;
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

#start {
    background-color: #1abc9c;
}

#start:hover {
    background-color: yellow;
}

#stop {
    background-color: #ff0000;
}

#reset {
    background-color: #0400fc;
}

@media screen and (max-width: 800px) {
    #time span {
        font-size: 4rem;
    }
    #time {
        display: flex;
        flex-direction: column;
    }
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#lap {
    background-color: rgb(166, 17, 211);
}

#clearLap {
    background-color: #ee42a6;
}

#laps {
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
}
